[submodule "libraries/uvm"]
	path = libraries/uvm
	url = https://github.com/BlockLink/uvm
[submodule "libraries/jsondiff"]
	path = libraries/jsondiff
	url = https://github.com/BlockLink/jsondiff-cpp.git
[submodule "libraries/blocklink_crosschain_privatekey"]
	path = libraries/blocklink_crosschain_privatekey
	url = https://github.com/BlockLink/blocklink_crosschain_privatekey.git
